################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GolfComp/bin/Debug
/GolfComp/obj/Debug
/.vs/GolfComp/v14/.suo
